.movie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem
}

.movie img {
    flex: 30%;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.movie > div {
    flex: 70%;
}

.movie > div h2 {
    text-align: center;
}

.movie .slidecontainer{
    width: '100%';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4361ee;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.input-range-value {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    padding: 1px;
}

.button-range {
    padding: 0.4rem;
    background-color: #4361ee;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
    flex: 100%;
    width: 100%;

    &:hover {
        background-color: #1130BB;
    }
}