.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.movie-card img {
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    width: 100%;
}

.movie-card .movie-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
}

.movie-card .movie-info .title {
    font-weight: bolder;
    font-size: 1.5rem;
}