nav {
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
}

.main-children {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
}

.logout-button {
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: 2px solid #cd2525;
    color: #cd2525;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    
    &:hover {
        background-color: rgba($color: #cd2525, $alpha: 0.6);
        color: white;
        border-color: white;
    }
}